#loginbutton{
    text-decoration: none;
    color: green;

}

#moviecard{
    height: auto;
    max-width: 100%;
}

.container img {
    display: block;
    margin: 0 auto;
  }

.mb-3{
    min-height: 100%;
    margin: 0 auto;
}

#siwimage{
    
    margin-top: 5em;
}

#artist-card{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    
}

#img-container{
    margin: auto;
}

.containermovie{
    display: flex;
    
}

.container-movie img{
    margin-left: 0;
}



#movie-container{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#blurred { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    height: auto;
    background-color: #0000008c;
    background-repeat: no-repeat;
    background-size: cover;
}

#black-blurred { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008c;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    
}

#blurred img{
    width: 100%;
    
}
#movie{
    position: relative;
    
    font-size: 2vw;
    color: #fff;
}

#movie-container{
    display: flex;
    justify-content: flex-start;
    
    
}

@media only screen and (max-width: 800px) {
    .d-flex {
      flex-direction: column;
      max-width: 100%;
      
    }
    .d-flex img {
        margin-left: auto!important;
      }
  }
.d-flex img {
        margin-left: 0;
      }
.flex-item img{
    margin-left: 10px;
    max-height: 500px;
}

#movie-image{
    max-height: 500px;
}
