#loginbutton{
    text-decoration: none;
    color: green;

}

#moviecard{
    height: auto;
    max-width: 100%;
}

.container img {
    display: block;
    margin: 0 auto;
  }

.mb-3{
    min-height: 100%;
    margin: 0 auto;
}

#siwimage{
    
    margin-top: 5em;
}

#artist-card{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    
}

#img-container{
    margin: auto;
}

.containermovie{
    display: flex;
    
}

.container-movie img{
    margin-left: 0;
}



#movie-container{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#blurred { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    height: 100%;
    background-color: #0000008c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
}

#black-blurred { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008c;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    
}

#blurred img{
    width: 100%;
    
}
#movie{
    position: relative;
    
    
    color: #fff;
}

#movie-container{
    display: flex;
    justify-content: flex-start;
    
    
}

@media only screen and (max-width: 800px) {
    .d-flex {
      flex-direction: column;
      max-width: 100%;
      
    }
    .d-flex img {
        margin-left: auto!important;
        
      }
  }
.d-flex img {
        margin-left: 0;
        
      }
.flex-item img{
    margin-left: 10px;
    max-height: 500px;
}

#movie-image{
    max-height: 500px;
}

.fixed-carousel .carousel-inner {
    height: 100%;
  }
  

  .fixed-carousel .carousel-item img {
    object-fit: contain;
    max-height: 100%;
    width: auto;
  }
  
  .link{
    text-decoration: none;
    color: white;
  }

p.flex-item {
    text-overflow: clip;
  }

.flex-container-orizzontale{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-verticale{
    display: flex;
    flex-direction: column;
}

.c{
    align-items: center;
    
}

.review{
    max-width: 500px;
}



.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(240, 236, 236, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
  }
  [dir="rtl"] .rating {
    --dir: left;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  .rating-label {
    margin-block-end: 1rem;
  }
  
  
  .rating--nojs::-moz-range-track {
    background: var(--fillbg);
  }
  .rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }
  .rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
  }
  .rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
  }
  [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
  }

  .rating{
    background-color: transparent;
  }

  .clickable-link{
    padding-left: .5em;
    
  }

  .card{
    justify-content: center;
  }