#loginbutton{
    text-decoration: none;
    color: green;

}

#moviecard{
    height: auto;
    max-width: 100%;
}

.container img {
    display: block;
    margin: 0 auto;
  }

.mb-3{
    min-height: 100%;
    margin: 0 auto;
}

#siwimage{
    
    margin-top: 5em;
}

#artist-card{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    
}

#img-container{
    margin: auto;
}

.containermovie{
    display: flex;
    
}

.container-movie img{
    margin-left: 0;
}

#movie-container{
    filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}